<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<h1>Physics</h1>

<div class="quote"><p>"I was born not knowing and have had only a little time to change that here and there. Richard P. Feynman"</p></div>

<div>
    <table><tr>
            <th><a href="physics/sim">Projectile Simulation</a></th>
            <th><a href="physics/sim/highscores">High Scores</a></th>
            <th><a href="physics/quotes">Favorite Quotes About Physics</a></th>
        </tr></table>
</div>

</body>
</html>