<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<% include ../partials/physicsnav.ejs %>
<h1>Projectile Simulation</h1>

<ul>
    <% queryResult.forEach(function(r) { %>
    <li><%= r.id %> - <%= r.shot_angle %></li>
    <%});%>
</ul>

</body>
</html>