<div>
    <table><tr>
            <th><a href="../../physics/sim">Projectile Simulation</a></th>
            <th><a href="../../physics/sim/highscores">High Scores</a></th>
            <th><a href="../../physics/quotes">Favorite Quotes About Physics</a></th>
        </tr></table>
</div>