<!DOCTYPE html>
<html>
<head>
    <script>console.log('Hello Daniel and Kaitlyn!'); </script>
</head>
<body>

<h1>Postal Cost Estimator</h1>
    <div>
        <form name="mailForm" action="/getRate" method="post">
            <table>
                <tr>
                    <td><label for="itemWeight">Item Weight: </label></td>
                    <td><input id='itemWeight' type="text" name="itemWeight"></td>
                </tr>
                <tr>
                    <td><label for="itemType[]">Type:</label></td>
                    <td><select id="itemType[]" name="itemType[]">
                            <option>Letters (Stamped)</option>
                            <option>Letters (Metered)</option>
                            <option>Large Envelopes (Flats)</option>
                            <option>First-Class Package Service-Retail(Stamped)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
