<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div>
        <form name="mailForm" method="get">
            <table>
                <tr>
                    <td>Weight:</td>
                    <td><input type="text" id="itemWeight"></td>
                </tr>
                <tr>
                    <td>Item Type:</td>
                    <td><select>
                            <option>Letters (Stamped)</option>
                            <option>Letters (Metered)</option>
                            <option>Large Envelopes (Flats)</option>
                            <option>First-Class Package Service-Retail(Stamped)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
